h1 {
	color: green;
}

h2 {
	color: red;
	margin-left: 10px; 
	font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
	color: grey;
	margin-left: 20px;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat (3, 1fr); 
	border: 1px solid #f76707;
}

.box {
	box-sizing: border-box;
}