h1 {
	color: green;
}

h2 {
	color: #8b0043;
	margin-left: 10px; 
	font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
	color: #2d0000;
	margin-left: 20px;
	margin-right: 5px;
	text-align: justify;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border: 1px solid #f76707;
}

.box {
	align-content: stretch;
	box-sizing: border-box;
}

.photo {
		width: 200px;
		height: 200px;
		background: grey;
		margin: 20px 20px 20px 20px;
}
