h1 {
	color: green;
}

h2 {
	color: #8b0043;
	margin-left: 10px; 
	font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
	color: silver;
}

p {
	color: #2d0000;
	margin-left: 20px;
	margin-right: 5px;
	text-align: justify;
}

.wrapper {
	display: grid;
	grid-gap: 0.8em;
	grid-template-columns: 1fr 1fr;
	/*border: 1px solid #f76707;*/
}

@media screen and (max-width: 600px) {
  		.wrapper {grid-template-columns: 1fr;}
		}

.box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

.photo {
		width: 200px;
		height: 200px;
		background: grey;
		margin: 20px 20px 20px 20px;
}

.more {
	margin-left: 10px;
	font-size: 0.8em;
}